<div nz-row class="header-contain"nzAlign="middle">
    <div nz-col nzSpan="12">
        <h1 style="color:white; display:inline; margin-right: 10px;">Sales Dashboard</h1>
        <p style="color:gray; display:inline; font-size: 17px;">Live Demo Preview</p>
    </div>
    <div nz-col nzSpan="12" style="text-align: right;">
        <span class="view-folder-icon" nz-icon nzType="folder-view" nzTheme="outline"></span>
        <span class="shopping-icon" nz-icon nzType="shopping" nzTheme="fill"></span>
    </div>
</div>