<div>
    <div nz-row style="background-color: #64c5b1; padding: 25px; height: 160px;">
        <div class="box-green-col-1" nz-col nzSpan="12">
            <h1>Dashboard</h1>
            <p style="color: white;">Salessa > Dashboard > Sales</p>
        </div>
        <div nz-col nzSpan="12" style="text-align: right;">
            <button nz-button nzShape="round" nzSize="large" nzType="default">Create Report</button>
        </div>
    </div>
    <div>
        <!-- <app-revenue></app-revenue>
        <app-create-report-card></app-create-report-card>
        <app-daily-sale-card></app-daily-sale-card>
        <app-summary-card></app-summary-card>
        <app-total-order></app-total-order>
        <app-transaction-card></app-transaction-card>
        <app-news-update-card></app-news-update-card>
        <app-account-info-card></app-account-info-card> -->
    </div>
</div>