<div class="wrapper-table-card">
    <div class="container-table" style="margin-bottom: 22px;">
        <h4>Data table</h4>
    </div>
    <div nz-row style="margin-bottom: 41px;">
        <div nz-col nzSpan="12">
            <h2>Table</h2>
        </div>
        <div nz-col nzSpan="12" style="text-align: right;">
            <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="suffixIconButton"
                style="width: 50%;margin-right: 10px;">
                <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
            </ng-template>
            <button nz-button nzSize="large" nzType="primary">Add New</button>
        </div>
    </div>
    <div class="data-table">
        <nz-table #fixedTable [nzLoading]="isLoading" [nzData]="userData" nzTableLayout="fixed" [nzPageSize]="8"
            [nzTotal]="80" (nzPageIndexChange)="changePageFetch($event)" [nzFrontPagination]="false" >
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of fixedTable.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td nzEllipsis>{{ data.gender }}</td>
                    <td nzEllipsis>{{ data.age }}</td>
                    <td nzEllipsis>{{ data.state }}</td>
                    <td nzEllipsis>{{ data.city }}</td>
                    <td nzEllipsis>{{ data.country }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>