<div class="sidebar-logo">
    <h2>
        <a style="color: black;" href="#">Sales Dashboard</a>
    </h2>
</div>
<ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-submenu nzTitle="Dashboard" nzIcon="home" nzOpen>
        <ul>
            <li nz-menu-item [nzMatchRouter]="true" routerLinkActive="active" routerLink="/dashboard">Sales</li>
            <!-- <li nz-menu-item >Default</li>
            <li nz-menu-item>Dark Menu</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Table" nzIcon="table">
        <ul>
            <li nz-menu-item [nzMatchRouter]="true" routerLinkActive="active" routerLink="/table">Data Tables</li>
            <!-- <li nz-menu-item >Option 6</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Apps" nzIcon="appstore">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="UI Kits" nzIcon="build">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Forms" nzIcon="form">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Board" nzIcon="bold">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Invoice" nzIcon="dollar">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
    <li nz-submenu nzTitle="Calender" nzIcon="calendar">
        <ul>
            <!-- <li nz-menu-item>Option 11</li>
            <li nz-menu-item>Option 12</li>
            <li nz-menu-item>Option 13</li> -->
        </ul>
    </li>
</ul>